* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    background-color: #1b2029;
    color: #ffff;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

html,
body {
    height: 100%;
}
